.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background-image: url('/public/assets/hero-image.png');
  background-size: cover;
  color: white;
}


/* BUTTON */
.btn-primary {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: lightgrey;
}



/* HEADER */
a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: tomato;
  font-size: large;
  
}

.logo {
  border-radius: 75px;
}


/* GALLERY */
.gallery {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gallery-div {
  margin: 10px;
}

.confidence-man {
  width: 380px;
  height: 380px
}

a > img {
  width: 400px;
}
a > .lime-cordial {
  height: 700px;
}



/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-top: 1px solid white;
}

.about-me {
  height: 200px;
  width: 60%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
}
.copyright {
  height: 200px;
  width: 40%;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.copyright-div {
  gap: 10px;
  display: flex;
  align-items: flex-end;  
  justify-content: flex-end;
  flex-direction: column;
}
