.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  border-bottom: 1px solid black;
  background-image: url("https://images.pexels.com/photos/3616764/pexels-photo-3616764.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  border-radius: 75px;
}

.btn-primary {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: lightgrey;
}





/* GALLERY */

.gallery {
  height: 80vh;
}

.gallery-pic {
  height: 300px;
  width: 300px;
}


/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid black;
}

.about-me {
  height: 200px;
  width: 60%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
}
.copyright {
  height: 200px;
  width: 40%;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.copyright-div {
  gap: 10px;
  display: flex;
  align-items: flex-end;  
  justify-content: flex-end;
  flex-direction: column;
}
